*{
     font-family: 'Inter', sans-serif;
}
.formulario{
     border-radius: 9px;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
     padding: 30px;
}

.fechas{
     font-size: 18px;
     font-weight: 500;
}

.tooltip-inner {
     text-align: left; 

}
#total  {
     background-color: #BEE5EB;
    
   }

#tota{
     background-color: #BEE5EB;
 
}
.headFiniquito{
     text-align: center;
     /* text-decoration: underline; */
     letter-spacing: 5px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

     
}
h1{
     text-align: center;
     font-weight: 600; 
     font-size: 30px;
     
}
/* .h5{
     white-space: nowrap;
}    */
img{
     align-items: center;
}
.calc{
     width: 70px;
     height: 70px;
}
#ufvA, #ufvV{
     margin-top: 5px;
}


@media screen and (max-width: 500px) {

     .col-md-2{
         display: none;
        
     }
     h1{
          font-size: 25px;
     }
     .fechas{
          font-size: 18px;
     }

     img{
          width: 25px;
     }
     .calc{
          width: 25px; 
          height: 25px; 
     }
     .formulario{
          padding: 20px;
     }
 
 }